body {
  background-color: rgba(255, 0, 128, 0.08);
  margin: 0;
}

h1,
h2,
h3 {
  text-align: center;
}

blockquote {
  border-left: 10px solid #e75a7c;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ff007f;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

/* 
Color scheme 

Background Color: #F2F5EA;
Text color: #2C363F;
Navbar/Button color: #AEC5EB;
Other Colors:
- #E75A7C
- #D4C5E2
*/
