/* Mobile and Tablet */
@media (max-width: 768px) {
  html {
    font-size: calc(16px + 2 * ((100vw - 360px) / 768));
  }
}

/* Laptop and Desktops screens */
@media (min-width: 769px) {
  html {
    font-size: calc(14px + 10 * ((100vw - 769px) / 2048));
  }
}

/* Excessively large screens */
html {
  font-size: 24px;
}

body {
  background-color: #1c1c1c;
  font-family: "Zilla Slab", "Georgia", "serif";
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open-Sans", "Helvetica", "Arial", "sans-serif";
  color: #f5f5f5;
}

p {
  color: #f5f5f5;
}

ol,
ul {
  color: #f5f5f5;
}

blockquote {
  border-left: 10px solid #e75a7c;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ff007f;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

/* 
Color scheme 

Background Color: #F2F5EA;
Text color: #2C363F;
Navbar/Button color: #AEC5EB;
Other Colors:
- #E75A7C
- #D4C5E2
*/
